html,body{
    height: 100%;
    background-color: #F3F3F3;
}

.body-container{
    min-height: 100%;
}


/* Custom Scrollbar Css Start */
#projectBaseHtml::-webkit-scrollbar {
    width: 10px;
}
#projectBaseHtml::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
#projectBaseHtml::-webkit-scrollbar-thumb {
    background: #888;  
    border-radius: 10px;
}
#projectBaseHtml::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* Custom Scrollbar Css End */



.headerStyle{
    display: inline-block;
    padding: 15px 20px;
    width: 100%;
}

#accentureLogo{
    height: 28px;
    position: relative;
}

#teamLogo{
    font-size: 15px;
    margin-left: 30px;
    position: relative;
    top: 6px;
    font-weight: 700;

    color: #000;
    font-family: "Graphik Regular","Arial",Sans-Serif;
}


#footerDiv {
    background-color: #000;
    padding-bottom: 0.1%;
    width: 100%;
    bottom: 0;
}

.footerRow {
    margin: 0 3%;
}

.footerRow ul li{
    display: inline-block;
}

.footerRow a{
    color: #a7a7a7;
    text-decoration: underline;
    font-family: "Graphik Regular","Arial",Sans-Serif;
}

.footerRow1 {
    margin-left: 3%;
    margin-right: 3%;
}

.footerRow2 li {
    font-size: 12px;
    margin-right: 1%;
}