{% extends 'unstructureddata/base.html' %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'unstructureddata/css/transparency.css' %}">
{% endblock head_block %}

{% block content %}
{% static "unstructureddata/cam_images/" as roughimages %}
<div id="transparencyContent">
    <div style="text-align: center;">
        <h3 class="TransparencyHeading">Transparency</h3>
    </div>

    <div class="row" style="padding-left: 1%;">
        <div class="col-sm-2 tab" style="padding: 0;">
            <div><button class="tablinks" onclick="openTab(event, 'transparency-limetext')"
                    id="defaultOpenlimetext">LIMETEXT</button>
            </div>
        </div>
        <div id="transparency-limetext" class="tabcontent col-sm-10">
			<p style="font-weight: bold;">General Guidance :</p>
            <div class="infor">
                <p><b>Description:</b><a
                        href=" https://lime-ml.readthedocs.io/en/latest/lime.html"
                        target="_blank"> LimeText </a> explains text classifiers. It uses an exponential kernel on cosine distance, and currently restricting explanations to words that are present in documents.</p>
                <p><b>Input Format:</b> Pipeline file (.pkl - model and vector), train & test file (.csv) and  test input row number for local explainability, target variable. </p>
                <p><b>Output:</b> Graphical representation to display feature importance towards the predicted class along with highlighted words.</p>
                <p><b>Scope:</b> It is limited to explain one test input row at a time and supports only classification models (binary and multi-class). This is for the model that describes the relationship between the inputs and outputs of a system (i.e. Black Box model). </p>
            </div>
            <br>
            {% if limetext_form %}
            <form action="" method="POST" novalidate enctype="multipart/form-data" id="form_div">
                {% csrf_token %}
                {% if limetext_form.non_field_errors %}
                {% for error in limetext_form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
                {% endif %}
                {% for fm in limetext_form %}
                <div class="form-group">
                    {{fm.label_tag}} {{fm}}
                    <small>{{fm.errors|striptags}}</small>
                    <br>
                </div>
                {% endfor %}
                <div class="steps" id="step3" style="display: none;">
                    <p>Select the target variable:</p>
                    <select class="form form-control" name="limetext-dataset-features"
                        id="limetext-dataset-features"></select>
                </div>
                <div style="text-align: center;">
                    <input type="button" class="btn btn-primary" value="SUBMIT" id="limetext_submit_btn">
                </div>
            </form>
            <br>
            <div style="text-align: center;" id="resulttext_heading"></div>
            <br>
            <table id="lime_test_row1"></table>
            <br>
            <div class="container" id="limetextresult1">
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" style="padding: 0;">
        <div id="structureddata_output_div">
            <div style="text-align: center;">
                <h3>TRANSPARENCY - UNSTRUCTURED REPORT</h3>
            </div>
            <div id="show_output">
            </div>
        </div>
    </div>
</div>

<div id="spinner_div" style="display: none;">
    <div class="spinner-border" role="status" style="color: #A100FF;">
        <span class="sr-only"></span>
    </div>
    <div><span style="font-size: 18px;font-weight: 700;letter-spacing: 2px;">Loading...</span></div>
</div>
</div>

<script>
    function openTab(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpenlimetext").click();

    $("#limetext_train_file").change(function () {
        var formData = new FormData();
        formData.append("file", $("input[id^='limetext_train_file']")[0].files[0]);
        let data = { 'method': "POST", 'url': "{% url 'getfeatures' %}", "data": formData };
        ajaxCall(data, function (data) {
            data = JSON.parse(data);
            if (data['status'] == 200) {
                let features_list = data['dataset_columns']
                //$("#dataset-features").append($("<option />").val('select').text('Select Feature'));
                $.each(features_list, function (index, item) {
                    $("#limetext-dataset-features").append($("<option />").val(item).text(item));
                });
                $("#step3").css('display', 'block');
            } else {
                alert("Something went wrong");
            }
        });
    });

    $(document).on('click', "#limetext_submit_btn", function () {
        $("#spinner_div").css('display', 'block');
        var formData = new FormData();
        $('#limetextresult1').html('');
        $('#resulttext_heading').html('');
        $('#lime_test_row1').html('');
        formData.append("mfile", $("input[id^='limetext_model_file']")[0].files[0]);
        formData.append("file", $("input[id^='limetext_train_file']")[0].files[0]);
        formData.append("testfile", $("input[id^='limetext_test_file']")[0].files[0]);
        let test_input_row = $("#test_input_row_no1").val();
        formData.append('test_input_row', test_input_row);
        let selected_features = $('#limetext-dataset-features').val();
        formData.append('selected_feature', selected_features);
        let data = { 'method': "POST", 'url': "{% url 'limetextsubmit' %}", "data": formData };
        ajaxCall(data, function (data) {
            data = JSON.parse(data);
            if (data['status'] == 200) {
                if(document.getElementById('cam_report')!=null){
                    $("#cam_report").remove();
                }
                $("#show_output").append('<div class="report_div" id="lime-text-report"></div>');
                $("#lime-text-report").append('<h4>LIME-explained results</h4>');
                $("#lime-text-report").append('<div id="lime-text-result"></div>');
                $('#lime-text-result').html(data['exp'])
                $("#spinner_div").css('display', 'none');
            } else {
                alert("Something went wrong");
            }
        });
    });

    // Builds the HTML Table out of myList.
    function buildHtmlTable(myList, selector) {
        var columns = addAllColumnHeaders(myList, selector);
        var row$ = $('<tr/>');
        for (var colIndex = 0; colIndex < columns.length; colIndex++) {
            var cellValue = myList[columns[colIndex]];
            if (cellValue == null) cellValue = "";
            row$.append($('<td/>').html(cellValue));
        }
        $(selector).append(row$);
    }

    // Adds a header row to the table and returns the set of columns.
    // Need to do union of keys from all records as some records may not contain
    // all records.
    function addAllColumnHeaders(myList, selector) {
        var columnSet = [];
        var headerTr$ = $('<tr/>');

        var rowHash = myList;
        for (var key in rowHash) {
            if ($.inArray(key, columnSet) == -1) {
                columnSet.push(key);
                headerTr$.append($('<th/>').html(key));
            }
        }
        $(selector).append(headerTr$);

        return columnSet;
    }
</script>

{% endblock %}